<div>
  <h1 class="text-3xl text-slate-700 font-bold">Trends</h1>
  Confira o que está em alta
</div>
<hr class="mb-10 mt-5">
<div class="card-wrapper">
  <trends-card [countryCode]="US" [searchParams]="'&q=%2Fg%2F1213jbl8&hl=en'" [term]="'Sheet Music (Topic)'"></trends-card>
  <trends-card [countryCode]="AU" [searchParams]="'&q=%2Fg%2F1213jbl8&hl=en'" [term]="'Sheet Music (Topic)'"></trends-card>
  <trends-card [countryCode]="GB" [searchParams]="'&q=%2Fg%2F1213jbl8&hl=en'" [term]="'Sheet Music (Topic)'"></trends-card>
  <trends-card [countryCode]="US" [searchParams]="'&q=Sheet%20music&hl=en'" [term]="'Sheet Music (Search term)'"></trends-card>
  <trends-card [countryCode]="AU" [searchParams]="'&q=Sheet%20music&hl=en'" [term]="'Sheet Music (Search term)'"></trends-card>
  <trends-card [countryCode]="GB" [searchParams]="'&q=Sheet%20music&hl=en'" [term]="'Sheet Music (Search term)'"></trends-card>
  <trends-card [countryCode]="US" [searchParams]="'&q=piano%20sheet%20music&hl=en'" [term]="'Piano Sheet Music (Search term)'"></trends-card>
  <trends-card [countryCode]="AU" [searchParams]="'&q=piano%20sheet%20music&hl=en'" [term]="'Piano Sheet Music (Search term)'"></trends-card>
  <trends-card [countryCode]="GB" [searchParams]="'&q=piano%20sheet%20music&hl=en'" [term]="'Piano Sheet Music (Search term)'"></trends-card>
</div>