.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  gap: 15px;
  width: 100%;
  margin-bottom: 50px;
  trends-card {
    width: 30%; /* Each card takes up 30% of the container width */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
    margin: 10px; /* Optional: Adds some space between the cards */
  }
}