<div class="flex justify-between items-center p-9">
  <div>
    <h1 class="text-3xl text-slate-700 font-bold">Bom dia lindeza</h1>
    Vamos ver as suas vendinhas? ❤️
  </div>

  <div class="flex">
    <div class="ml-6 flex gap-2">
      <input type="file" #fileInput style="display: none" (change)="handleFileUpload($event)" />
      <button cdzButton (click)="erase()" [size]="'md'" [variant]="'outlined'" [color]="'primary'">
        Apagar conteúdo
        <fa-icon [icon]="faTrash"></fa-icon>
      </button>

      <button cdzButton (click)="fileInput.click()" [size]="'md'" [variant]="'filled'" [color]="'primary'">
        Upload do arquivo de vendas
        <fa-icon [icon]="faUpload"></fa-icon>
      </button>
    </div>
  </div>
</div>