<div class="flex justify-between items-center p-9">
  <div>
    <h1 class="text-3xl text-slate-700 font-bold">Bom dia lindeza</h1>
    Vamos ver as suas vendinhas? ❤️
  </div>

  <div class="flex">
    <div class="ml-6">
      <input type="file" #fileInput style="display: none" (change)="handleFileUpload($event)" />

      <!-- TODO: implementar relatório com export em PDF  -->
      <!-- <button
        class="border-sky-900 border-2 text-sky-900 font-bold px-4 py-2 w-auto rounded-full mr-2 hover:bg-sky-800 hover:text-white"
      >
        Download report
      </button> -->
      <button (click)="fileInput.click()" class="bg-blue-500  text-white px-4 py-2 rounded-md w-auto hover:bg-blue-400">

        Upload a CSV file
      </button>
    </div>
  </div>
</div>