<sidenav></sidenav>
<section class="home-section">
  <!-- <div class="home-header"> -->
  <!-- <div class="hamburger-menu">
      <input type="checkbox" id="checkbox-hamburger-menu" [(ngModel)]="openSidebar" />
      <label class="label-hamburger-menu" for="checkbox-hamburger-menu">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </label>
    </div> -->
  <!-- <div class="title">Header</div>
  </div> -->
  <div class="home-view">
    <router-outlet></router-outlet>
    <!-- This is a project for Dropdown Sidebar -->
  </div>
</section>

<!-- <router-outlet></router-outlet> -->