<div class="sm:block md:flex gap-4">
  <div
    class="flex flex-col items-center bg-white border-gray-200 rounded-2xl shadow md:flex-row md:w-1/2"
  >
    <img
      class="object-cover w-full h-full m-0 border-0 p-0 md:max-h md:w-48 md:rounded-none md:rounded-l-2xl"
      src="https://images.pexels.com/photos/269790/pexels-photo-269790.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
      alt=""
    />
    <div class="flex flex-col justify-between p-4 leading-normal">
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        Quantos países compraram? 🤔
      </h5>
      <p class="mb-3 font-normal text-slate-700 dark:text-slate-400">
        Você já vendeu partituras para
        <span class="font-semibold text-sky-500">
          {{ countriesList.length }}
        </span>
        países diferentes! Isso equivale a
        <span class="font-semibold text-sky-500">
          {{ ((countriesList.length / 196) * 100).toFixed(2) }}%
        </span>
        do planeta Terra! 🌎🤩 Uauuuu!!
      </p>
    </div>
  </div>

  <div
    class="flex flex-col items-center bg-white border-gray-200 rounded-2xl shadow md:flex-row md:w-1/2"
  >
    <img
      class="object-cover w-full h-full m-0 border-0 p-0 md:max-h md:w-48 md:rounded-none md:rounded-l-2xl"
      src="https://images.pexels.com/photos/545064/pexels-photo-545064.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
      alt=""
    />
    <div class="flex flex-col justify-between p-4 leading-normal">
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        Comissões 🤑
      </h5>
      <p class="mb-3 font-normal text-slate-700 dark:text-slate-400">
        Suas comissões correspondem a
        <span class="font-semibold text-sky-500">
          {{ ((totalCommissions / totalSales) * 100).toFixed(2) }}%
        </span>
        do que você gerou para o site. Você está indo muito bem em fazer tanto
        partituras de domínio público quanto Copyrighted songs! Continue assim!
        🤩👏
      </p>
    </div>
  </div>

  <div
    *ngIf="+((totalCommissions / totalSales) * 100).toFixed(2) < 30"
    class="text-slate-700 bg-white rounded-2xl border p-6 w-1/3 h-auto"
  >
    Suas comissões correspondem a
    <span class="font-semibold text-red-500">
      {{ ((totalCommissions / totalSales) * 100).toFixed(2) }}%
    </span>
    do que você gerou para o site. Acho que você está fazendo mais Copyrighted
    songs do que peças de domínio público, hein? Lembre-se de variar bastante
    para otimizar esses resultados! 🤑
  </div>
</div>
