<div class="sidebar" [class.sidebar-close]="!openSidebar">
  <div class="logo-details">
    <div class="logo">
      <img src="assets/logo.png" alt="" />
    </div>
  </div>
  <ul class="nav-links" id="nav-links">
    <li *ngFor="let item of menuSidebar" #itemEl routerLinkActive="active">
      <div *ngIf="item.sub_menu.length == 0" class="dropdown-title">
        <a [routerLink]="[item.link]">
          <fa-icon class="left-icon" [icon]="item.icon"></fa-icon>
          <span class="link_name">{{ item.link_name }}</span>
        </a>
      </div>
      <div *ngIf="item.sub_menu.length > 0" class="dropdown-title" (click)="showSubmenu(itemEl)">
        <a>
          <fa-icon class="left-icon" [icon]="item.icon"></fa-icon>
          <span class="link_name">{{ item.link_name }}</span>
        </a>
        <div class="dropdown-icon">
          <fa-icon [icon]="faChevronDown"></fa-icon>
        </div>

      </div>
      <div>
        <ul class="sub-menu" [class.blank]="item.sub_menu.length == 0">
          <li *ngFor="let item_sub of item.sub_menu" routerLinkActive="active">
            <a [routerLink]="[item_sub.link]">{{ item_sub.link_name }}</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>