@import url('../../ds/styles/_variables.scss');

/* Hamburger Menu */
.hamburger-menu {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 15px;
}

.label-hamburger-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: 0.5s ease;
}

.label-hamburger-menu:hover .bar {
  /* box-shadow: 1px 1px 7px 1px RGBa(0, 0, 0, 0.3); */
}

.label-hamburger-menu .bar {
  width: 40px;
  height: 4px;
  background: #fff;
  /* box-shadow: 1px 1px 3px RGBa(0, 0, 0, 0.4); */
  border-radius: 1px;
  transition: 0.4s ease;
}

.label-hamburger-menu .bar:not(:first-child) {
  margin-top: 5px;
}

#checkbox-hamburger-menu {
  display: none;
}

#checkbox-hamburger-menu:checked + .label-hamburger-menu {
  transform: translate(-50%, -50%) rotateY(180deg);
}

#checkbox-hamburger-menu:checked + .label-hamburger-menu .bar {
  width: 30px;
  transform: rotateY(180deg) rotateX(360deg);
}

#checkbox-hamburger-menu:checked + .label-hamburger-menu .bar:first-child {
  transform: translateY(9px) rotate(-45deg);
}

#checkbox-hamburger-menu:checked + .label-hamburger-menu .bar:nth-child(2) {
  opacity: 0;
}

#checkbox-hamburger-menu:checked + .label-hamburger-menu .bar:nth-child(3) {
  transform: translateY(-10px) rotate(45deg);
}


/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;

  background: var(--primary-color);
  z-index: 100;
  transition: all 0.5s ease;
  padding: 24px;
}

.sidebar.sidebar-close {
  width: 60px;
}

.sidebar .logo-details {
  width: 180px;
  height: auto;
  margin: auto;
  //  display: flex;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 15px;
  justify-content: left;
  // padding: 20px 10px 10px 10px;
}

/* .sidebar.sidebar-close .logo-details {
  padding: 20px 10px;
} */

.sidebar .logo-details .logo {
  height: 54px;
  border-radius:var(--border-radius-md);
  width: 100%;
  //background: white;
}

.sidebar.sidebar-close .logo-details .logo {
  border-radius: 3px;
}

.sidebar .nav-links {
  height: 100%;
  width: 100%;
  padding-bottom: 150px;
  color: white;
}

.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}

.sidebar .nav-links li {
  list-style: none;
}

.sidebar .nav-links > li {
  position: relative;
  width: 100%;
  border-radius:var(--border-radius-md);
}

// aqui o problema do hover
.sidebar .nav-links .sub-menu li:hover {
  // background: rgba(208, 213, 221, 1);
}

// voir ça aussi  .dropdown-menu
.sidebar .nav-links .dropdown-menu li.active {
  background: white;
}

/* Dropdown Title */
.sidebar .nav-links .dropdown-title {
  transition: all 0.52s ease;
  display: flex;
  align-items: left;
  text-align: left;
  cursor: pointer;
  border-radius:var(--border-radius-md);
  &:hover {
    background: #2A2C3C;
  }
  a {
    padding-left: 15px;
  }
}

.left-icon {
  color: #B1B4BD;
}

.sidebar .nav-links .dropdown-icon {
  display: flex;
  padding-right: 15px;
  align-items: center;
  color: white;
}

.sidebar .nav-links li.showMenu .dropdown-icon {
  display: flex;
  transform: rotate(-180deg);  
  margin-right: 15px;
  // align-items: center;
  transform-origin: center;
}

// .sidebar .nav-links li.showMenu .dropdown-icon li.showMenu {
//   transform: rotate(-180deg);
// }

/* a Tag */
.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 100%;
}

/* Link Name */
.sidebar .nav-links li a .link_name {
  font-size: 16px;
  padding: 12px 14px;
  font-weight: 600;
  color: #B1B4BD;
  transition: all 0.4s ease;
}

.sidebar .nav-links li:hover a .link_name,
.sidebar .nav-links li.active a .link_name {
  color: white;
}

.sidebar.sidebar-close .nav-links li a .link_name {
  pointer-events: none;
  cursor: pointer;
}

/* Sub Menu */
.sidebar .nav-links li .sub-menu {
  background-color: transparent;
  display: none;
  transition: all 0.4s ease;
  margin-left: 12px;
  border-left: 2px solid white;
  li {
    &:hover {
      background: #2A2C3C;
    }
  }
}

.sidebar .nav-links li.showMenu .sub-menu {
  display: block;
  margin: 10px;
}
.sidebar .nav-links li {
  margin-bottom: 8px;
}
.sidebar .nav-links li .sub-menu li {
  color: white;
  border-radius:var(--border-radius-md);
  font-size: 14px;
  margin: 8px 12px;
  padding: 8px 12px;
  white-space: nowrap;
  transition: all 0.3s ease;

  a {
    color: white;
  }
}

.sidebar .nav-links li .sub-menu li:hover a,
.sidebar .nav-links li .sub-menu li.active a {
  color: white;
}

.sidebar.sidebar-close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 0;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
  overflow: hidden;
}

.sidebar.sidebar-close .nav-links li .sub-menu li {
  padding: 6px 15px;
  width: 200px;
}

.sidebar.sidebar-close .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu .link_name {
  display: none;
}

.sidebar.sidebar-close .nav-links li .sub-menu .link_name {
  font-size: 16px;
  font-weight: 600;
  /* opacity: 1; */
  display: block;
}

/* li:first-child contain .link_name */
.sidebar.sidebar-close .nav-links li .sub-menu li:first-child {
  background: white;
  pointer-events: none;
}

.sidebar.sidebar-close .nav-links li .sub-menu li:first-child:hover .link_name,
.sidebar.sidebar-close
  .nav-links
  li
  .sub-menu
  li:first-child.active
  .link_name {
  color: white;
}

// .sidebar.sidebar-close .nav-links li .sub-menu li:first-child {
//     display: none;
// }

.sidebar .nav-links li .sub-menu.blank {
  pointer-events: auto;
  /* padding: 3px 20px 6px 16px; */
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank,
.sidebar .nav-links li.active .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.sidebar-close ~ .home-section {
  left: 60px;
  width: calc(100% - 60px);
  background-color: gray;
}

@media (max-width: 420px) {
  .sidebar.sidebar-close .nav-links li .sub-menu {
    display: none;
  }
}
